:root {
    font-family: "Roboto", sans-serif;
    --grey: #f0eef1;
    --black: #050505;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--grey);
    color: var(--black);
    margin-bottom: 100px;
}

button,
input {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}

p {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    align-items: center;
    background-color: white;
    box-shadow: var(--shadow);
}

.library-title {
    font-size: 3rem;
}

.btn-log-in {
    border: none;
    height: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: var(--border-radius);
}

.content-container {
    display: grid;
    padding: 0 10% 0 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    font-family: inherit;
    gap: var(--spacing-xl);
}

.add-book-container {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-add-book {
    font-size: 2rem;
    font-weight: 500;
    margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem 0.75rem 1rem;
    width: auto;
}

.btn-add-book:hover {
    background-color: darkgrey;
}

dialog {
    width: 40%;
    padding: var(--spacing-xl);
}

dialog h1 {
    text-align: center;
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog form div {
    display: flex;
    margin-bottom: var(--spacing-lg);
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 2rem;
}

form div label {
    text-align: right;
    width: 250px;
    padding-right: 20px;
}

input {
    background-color: var(--grey);
    border: 1px solid #d6d9dc;
    border-radius: var(--border-radius);
    width: 350px;
    height: initial;
    padding-left: 0.5rem;
}

dialog::backdrop {
    background-color: #050505;
    opacity: 0.75;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

select {
    appearance: none;
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    width: 363px;
    padding: 3px;
    padding-left: 0.5rem;
    height: initial;
    background-color: var(--grey);
    border: 1px solid #d6d9dc;
    border-radius: var(--border-radius);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 12px;
    right: 175px;
    position: absolute;
}

.modal-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#close-dialog {
    background-color: lightcoral;
    color: darkred;
}

#submit-dialog {
    background-color: lightgreen;
    color: darkgreen;
}

.content-card {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 2rem;
}

.content {
    margin: 0.5rem 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.book-title {
    font-size: 2rem;
    font-style: italic;
    margin: 0 0 1rem 0;
    font-weight: 500;
}

.trash-can-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.complete {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 1rem 0.75rem 1rem;
    background-color: lightgreen;
    color: darkgreen;
    border-radius: var(--border-radius);
}

.incomplete {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 1rem 0.75rem 1rem;
    background-color: lightgray;
    color: darkgray;
    border-radius: var(--border-radius);
}



.content-lower-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}